<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'メンバー一覧')}"></div>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{common/shoulder_fragment::header}"></div>

  <main id="main" class="main">

    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
          <div class="card info-card revenue-card">
            <div class="filter">
              <a th:href="@{/account}" type="button" class="btn btn-primary btn-lg">登録</a>
            </div>

            <div class="card-body">
              <h5 class="card-title">メンバー一覧</h5>

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">名前</th>
                    <th scope="col">メールアドレス</th>
                    <th scope="col">登録日</th>
                    <th scope="col">更新日</th>
                    <th scope="col" style="width: 80px;">削除</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><a href="#">1</a></th>
                    <td><a href="#">浅井 那奈</a></td>
                    <td>asai_nana@example.com</td>
                    <td>2016-05-25</td>
                    <td>2016-05-25</td>
                    <td><button type="button" class="btn btn-danger btn-sm">削除</button></td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#">2</a></th>
                    <td><a href="#">根本 徹</a></td>
                    <td>nemoto_tohru@example.com</td>
                    <td>2014-12-05</td>
                    <td>2014-12-05</td>
                    <td><button type="button" class="btn btn-danger btn-sm">削除</button></td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#">3</a></th>
                    <td><a href="#">西井 弘也</a></td>
                    <td>nishii_hironari@example.com</td>
                    <td>2011-08-12</td>
                    <td>2011-08-12</td>
                    <td><button type="button" class="btn btn-danger btn-sm">削除</button></td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#">4</a></th>
                    <td><a href="#">菅谷 千夏</a></td>
                    <td>sugaya_chinatsu@example.com</td>
                    <td>2012-06-11</td>
                    <td>2012-06-11</td>
                    <td><button type="button" class="btn btn-danger btn-sm">削除</button></td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#">5</a></th>
                    <td><a href="#">飯田 なつみ</a></td>
                    <td>iida_natsumi@example.com</td>
                    <td>2011-04-19</td>
                    <td>2011-04-19</td>
                    <td><button type="button" class="btn btn-danger btn-sm">削除</button></td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="~{common/shoulder_fragment::footer}"></div>

</body>

</html>